export MAILGUN_API_KEY=coloque-sua-api-key-do-mailgun-aqui
export MAILGUN_DOMAIN=sandboxXXXXXXXXXXXXXXXXXXXXXXXXXXXX.mailgun.org
export MAILGUN_SENDER=Mailgun Sandbox <postmaster@sandboxXXXXXXXXXXXXXXXXXXXXXXXXXXXX.mailgun.org>
export ALUNO_EMAIL=guilherme.souto@aluno.ifsp.edu.br
