export FLASKY_ADMIN=seu-email-institucional@aluno.ifsp.edu.br
export FLASK_APP=app.py
export API_URL=https://api.mailgun.net/v3/SEU-DOMINIO-SANDBOX.mailgun.org/messages
export API_KEY=coloque-sua-api-key-do-mailgun-aqui
export API_FROM=postmaster@SEU-DOMINIO-SANDBOX.mailgun.org
