{% extends "base.html" %}

{% block titulo %}
Flasky
{% endblock %}

{% block conteudo %}

<div class="page-header">
    <h1>Olá, {{ name or "Stranger" }}!</h1>
    <p>Prazer em conhecê-lo!</p>
</div>

<form method="POST" class="form" role="form">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.name.label(class="control-label") }}
        {{ form.name(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-default") }}
</form>

<h2>Relação de usuários cadastrados</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome do usuário</th>
            <th>Função</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.role.name if usuario.role else "" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
